/* Sticky footer styles
-------------------------------------------------- */
.mycontainer {
  width: 800px;
}
.mywidecontainer {
  width: 900px;
}

.pady {
	padding-top:10px;
	padding-bottom:10px;
}
.padx {
	padding-left:10px;
	padding-right:10px;
}

h3 {
	margin-top:0px;
	margin-bottom:15px;
}
.fl { float:left; }
.fr { float:right; }
.oa { overflow: auto; }

.table-list {
	cursor:pointer;
}

.filters {
	float:right;
	text-align: right;
}
.filters .filter-item {
	padding-bottom:6px;
}
.filters .filter-item:last-child {
	padding-bottom:0px;
}



#home-page { display:block; }
#coverage-page { display:none; }
#mailout-page { display:none; }
#admin-page { display:none; }
#help-page { display:none; }
#importtool-page { display:none; }

/* Override text input for tags */
.bootstrap-tagsinput { 
	min-height:34px;
	/*height:34px;*/
	display:none;
}
.bootstrap-tagsinput input {
	user-select:none;
	-webkit-user-select:none;
	display:none;
}
.bootstrap-tagsinput[disabled] {
	cursor: not-allowed;
    background-color: #eee;
    opacity: 1
}
.bootstrap-tagsinput[disabled] span[data-role="remove"] {
	display:none;
}

/* OK. That jquery plugin was naff. Roll your own simple solution. */
.tag {
	display:inline;
	margin-right:5px;
	background-color: #5bc0de;
	border-radius: .25em;
	color:white;
	font-size:75%;
	padding:.2em .6em .3em;
	font-weight:bold;
}
.tag a { color:white; }

/* Mailout bits */
#mailout-homepage { display:inherit; }
#mailout-writepage { display:none; }
#mailout-preview {
	border-bottom:1px solid #ddd; 
	padding:5px;
	margin-bottom:10px;
}
#mailout-preview img {
	width:100%;
}
#mailout-recipients { display:none; }

.nav-table-topright-item {
	float:right; 
	margin-left:10px;
	font-size:18px;
	cursor:pointer;
}
.checkbox-column { display:none; }


