RewriteEngine On

RewriteCond $1 !(robots.txt|css/|js/|fonts/|data/uploads/|images/|includes/tasks/|favicon.ico|api.php|claim.php|subscribe.php|pixel.php|install.php|logout.php)
RewriteRule ^(.*)$ index.php [QSA,L]


