/* Sticky footer styles
-------------------------------------------------- */
.mycontainer {
  width: 800px;
}
.mywidecontainer {
  width: 900px;
}

.pady {
	padding-top:10px;
	padding-bottom:10px;
}
.padx {
	padding-left:10px;
	padding-right:10px;
}

h3 {
	margin-top:0px;
	margin-bottom:15px;
}
.fl { float:left; }
.fr { float:right; }
.oa { overflow: auto; }

.table-list {
	cursor:pointer;
}

.filters {
	float:right;
	text-align: right;
}
.filters .filter-item {
	padding-bottom:6px;
}
.filters .filter-item:last-child {
	padding-bottom:0px;
}



#home-page { display:block; }
#social-page { display:none; }
#coverage-page { display:none; }
#keys-page { display:none; }
#mailout-page { display:none; }
#admin-page { display:none; }
#help-page { display:none; }
#importtool-page { display:none; }

/* Override text input for tags */
.bootstrap-tagsinput { 
	min-height:34px;
	/*height:34px;*/
	display:none;
}
.bootstrap-tagsinput input {
	user-select:none;
	-webkit-user-select:none;
	display:none;
}
.bootstrap-tagsinput[disabled] {
	cursor: not-allowed;
    background-color: #eee;
    opacity: 1
}
.bootstrap-tagsinput[disabled] span[data-role="remove"] {
	display:none;
}

/* OK. That jquery plugin was naff. Roll your own simple solution. */
.tag {
	display:inline;
	margin-right:5px;
	background-color: #5bc0de;
	border-radius: .25em;
	color:white;
	font-size:75%;
	padding:.2em .6em .3em;
	font-weight:bold;
}
.tag a { color:white; }

/* Mailout bits */
#mailout-homepage { display:inherit; }
#mailout-writepage { display:none; }
#mailout-preview {
	border-bottom:1px solid #ddd; 
	padding:5px;
	margin-bottom:10px;
}
#mailout-preview img {
	width:100%;
}
#mailout-recipients { display:none; }

.nav-table-topright-item {
	float:right; 
	margin-left:10px;
	font-size:18px;
	cursor:pointer;
}
.checkbox-column { display:none; }

.mailout-readflags { display:none; }
.mailout-read-true { color:green; }
.mailout-read-false { color:red; }

/* social queue formatting*/

.socialqueue-item {       
	border: 1px solid #d4d4d4;
	border-radius: 2px;
	padding: 20px;
	position: relative;
	-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
	overflow:auto;
	margin-bottom:10px;
}
.socialqueue-item.indented {
	margin-left:10%;
	width:90%;
}
.socialqueue-item.thin {
	padding: 12px;
}
.socialqueue-item.thinnest {
	padding: 8px;
}
.socialqueue-item.indented p, .socialqueue-item.thinnest p { margin:0 0 0 0; }
.socialqueue-item.indented img { width:20px; height:20px; margin: 0; margin-right:5px;}
.socialqueue-item .icon {
	float:left;
	max-width:40px;
	max-height:40px;
	margin-right:10px;
	/*margin-bottom:10px;*/
}
.socialqueue-item p.attachments {
	margin-top:10px;
}

.socialqueue-item.ready { border-top:5px solid #5cb85c; padding-top:15px; }
.socialqueue-item.ready.thin { border-top:5px solid #5cb85c; padding-top:7px; }
.socialqueue-item.ready.thinnest { border-top:5px solid #5cb85c; padding-top:8px; }

.socialqueue-imageattachment-container { 
	height:100px;
	overflow:hidden;
}
.socialqueue-imageattachment { 
	width:100%;
	margin-top:-25%;
	cursor:pointer;
}

