<!-- Coverage -->
		<div id='coverage-page' data-type-page='true' data-page='coverage'>
			<div class='container mycontainer'>
				<div class='filters' style='float:left;text-align:left;'>
					<div class='filter-item'><b>Project Coverage</b></div>
				</div>
			</div><br/>

			<div class='container mycontainer'>
				<div id='coverage-loading-true'>
					<div class="alert alert-info" role="alert">
						<span class="glyphicon glyphicon-loading" aria-hidden="true"></span>
						<span class="sr-only"></span>
						Loading...
					</div>
				</div>
				<div id='coverage-loading-false'>
					<div id='coverage'>

					</div>
					<div id='coverage-footer'>
						<div class="alert alert-info" role="alert">
							<span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
							<span class="sr-only">Error:</span>
							Dang! There is currently no coverage for your project.
						</div>
						<!--
							<div class='row'>
								<div class='col-sm-3 fr'>
									<button class='btn btn-primary add-coverage' style='width:100%'>Add Coverage</button>
								</div>
							</div>
						-->
					</div>
				</div>


			</div>
			<br/><br/>

		</div>