<!-- Help Page panel -->
		<div id='help-page' data-type-page='true' data-page='help'>
			<div class='container mycontainer'>
				<p><b>Help:</b></p>
				<!-- <p>Everybody knows by now that you can't just carpet-bomb the entire games press with a single non-personalised email, especially so if you're not part of the infamous (and totally fictional) indie elite. That is why this tool was created, and why it doesn't include an "email all" feature.</p>



				<p><b>Tips</b></p>-->
				<p>Using this tool is hopefully pretty self-explanatory, so instead we decided it would be better of us to list a bunch of really useful articles that help you hone your story, and make you think a bit more about how you approach your PR and Marketing.</p><p> As below:</p>
				<ul>
					<li><a href='http://indiegames.com/2013/07/five_pr_tips_indies_really_nee.html' target='new'>Five PR tips indies really need</a> - Leigh Alexander, indiegames.com</li>
					<li><a href='http://www.gamasutra.com/view/news/198381/How_to_talk_to_the_video_game_press_in_2013.php' target='new'>How to talk to the video game press in 2013</a> - Mike Rose, gamasutra.com</li>
					<li><a href='http://forceofhab.it/blog/launch-meet-the-games-press/' target='new'>How to talk to games press</a> - Force Of Habit</li>
					<li><a href='http://joostdevblog.blogspot.co.uk/2012/11/the-indie-marketing-plan.html' target='new'>The indie marketing plan</a> - Joost van Dongen</li>
					<li><a href='http://gillen.cream.org/wordpress_html/assorted-essays/how-to-use-and-abuse-the-games-press-and-how-the-games-press-wants-to-use-and-abuse-you/' target='new'>How to use and abuse the gaming press and how the gaming press wants to use and abuse you</a> - Kieron Gillen</li>
					<li>...and of course, <a href='http://www.pixelprospector.com/the-big-list-of-indie-game-marketing/'>The Big List of Indie Game Marketing</a> - Pixel Prospector</li>

					<!--
						Kids review sites lists
						http://www.reviewfordev.com/list-of-review-sites-to-find-the-best-educational-apps-for-kids.php

						tinyBuild big list of Twitch streamers.
						http://tinybuild.com/twitch
					-->



				</ul>
			</div>

		</div>