
<div ng-include src='"app/views/login/login.template.html"' ng-show="App.part(0) == 'login'"></div>
<div ng-include src='"app/views/index/home.template.html"'></div>
<div ng-include src='"app/views/index/coverage.template.html"'></div>
<div ng-include src='"app/views/index/social.template.html"'></div>
<div ng-include src='"app/views/index/mailout.template.html"'></div>
<div ng-include src='"app/views/index/import.template.html"'></div>
<div ng-include src='"app/views/index/keys.template.html"'></div>
<div ng-include src='"app/views/index/admin.template.html"'></div>
<div ng-include src='"app/views/index/help.template.html"'></div>

<div id='modals'>
	<div ng-include src='"app/components/person/modal.template.html"'></div>
</div>