<div class='filters' ng-controller='FiltersController'>
	<div class='filter-item'><b>Filters:</b></div>
	<div class='filter-item'>Not recently contacted (1 week) - <input id='filter-recent-contact' type='checkbox' ng-model='Filters.recentContact' /></div>
	<div class='filter-item'>High Priority - <input id='filter-high-priority' type='checkbox' ng-model='Filters.highPriority' /></div>
	<div class='filter-item'>People I've contacted - <input id='filter-personal-contact' type='checkbox' ng-model='Filters.personalContact' /></div>
	<div class='filter-item'>People with Email Addresses - <input id='filter-email-attached' type='checkbox' ng-model='Filters.emailAttached' /></div>
	<div class='filter-item'>People assigned to me - <input id='filter-assigned-self' type='checkbox' ng-model='Filters.assignedSelf' /></div>
	<div class='filter-item'>People who are out-of-date - <input id='filter-show-outofdate' type='checkbox'ng-model='Filters.outOfDate' /></div>
</div>
